{% extends 'base.html' %}

{% block content %}

{% if not request.user.is_authenticated %}

<div style="margin: 30px;">
    <form action='.' method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button style="margin: 10px;" type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/register/">Register</a>.</p>

    <!-- {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %} -->

</div>
{% else %}
    <p>You are already logged in. Would you like to <a href = '/logout/'>logout</a>?</p>
{% endif %}

{% endblock content %}