{% extends 'base.html' %}

{% block content %}

{% if not created %}
<div style="margin: 30px;">
    <form action='.' method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button style="margin: 10px;" type="submit">Create Entry</button>
    </form>
</div>
{% else %}
    <p> Your entry was created.</p>
    <a href='/articles/{{object.id}}'>{{object.title}} - {{object.content}}</a>
    <p><a href='/articles/create/'>Create another article</a></p>
    <p><a href='/'>Go back to home</a></p>

{% endif %}
{% endblock content %}